@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn_hire_me {
  padding: 4px;
  border: .120rem solid #7510f7;
  border-radius: 45px;
}
