@media (max-width: 786px) {
  body {
    overflow: auto !important;
  }
  .arrow-down {
    margin-top: 1rem !important;
  }

  #about-2 {
    margin-bottom: 10rem;
  }
}

@media (min-width: 1500px) {
  .container_arrow {
    padding-top: 10rem !important;
  }

  .hero_text {
    margin-top:5rem;
  }

  #know_more {
    margin-bottom:10rem !important;
    font-size:3rem;

  }
}
